@font-face {
   font-family: 'Norse-Bold';
   src: url('/assets/Norse-Bold.otf') format('truetype');
}

body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Rubik', sans-serif;
   box-sizing: border-box;
}

h1,
h2,
h3,
p {
   margin: 0;
   padding: 0;
}

input,
textarea,
select,
button {
   width: 250px;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   height: 30px;
}

label {
   display: block;
   font-size: 14px;
   font-weight: 400;
}

main {
   display: flex;
}

.sect1 {
   font-family: 'Norse-Bold', sans-serif;
   width: 40%;
   height: 100vh;
   background-image: url('/assets/halie-west-25xggax4bSA-unsplash.jpg');
   background-repeat: no-repeat;
   background-size: cover;
}

.logoContainer {
   display: flex;
   margin-top: 13rem;
   height: 9.5rem;
   background-color: rgba(0, 0, 0, 0.5);
   justify-content: center;
   align-items: center;
   padding: 1.1rem;
}

.logo {
   width: 15%;
   display: block;
   height: auto;
}

.textLogo {
   color: #fff;
   font-size: 5rem;
}

.sect2 {
   width: 60%;
   background-color: #f9fafb;
   height: 100vh;
}

.form-row {
   display: flex;
   margin-top: 20px;
   gap: 4rem;
}

.myButton {
   width: 250px;
   height: 50px;
   color: rgb(255, 255, 255);
   font-size: 17px;

   border-radius: 11px;
   border: 2px solid;
   display: inline-block;
   background-color: #596d48;

   margin: 2rem 0 2rem 0;
}

.myButton:hover {
   background: #1c6ea4;
}
.myButton:active {
   background: #144e75;
}

/* main {
   width: min(65ch, 100% - 4rem);
   margin-inline: auto;
}
 */

.text {
   width: 60%;
   font-size: 0.9rem;
   margin-top: 6rem;
   padding-bottom: 4rem;
}

.formControl {
   background-color: #fff;
   padding: 1.8rem 0 1.8rem 0;
   -webkit-box-shadow: 2px 3px 5px 1px rgba(255, 65, 24, 0.66);
   box-shadow: 2px 3px 5px 1px rgba(225, 226, 227, 1);
}

.formControl p {
   font-size: 1.4rem;
   font-weight: 600;
}

.formControl,
.text,
.footer {
   padding-left: 3rem;
}

.footer p {
   font-size: 1.1rem;
   font-weight: 600;
}
