:root {
   --primary-color: #0b1811;
   --secondary: #ffffff;
   --primary-button: #5fb481;
   --secondary-button: #f1f8f4;
   --accent: #71bc8f;
   --focused: #3661d7;
   --error: #ff0033;
}

@font-face {
   font-family: 'Norse-Bold';
   src: url('/assets/Norse-Bold.otf') format('truetype');
}

body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Rubik', sans-serif;
   box-sizing: border-box;
}

h1,
h2,
h3,
p {
   margin: 0;
   padding: 0;
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'] {
   padding-left: 0.5rem;
   border: 1px solid #c9c9c9;
   outline: 1px solid #c9c9c9;

   /*  border-radius: 5px; */
}

input:focus {
   /*  outline: 0.1rem solid #2c5adb; */
   border: 1px solid var(--secondary-button);
   border-color: var(--secondary-button);
   outline: 1px solid var(--secondary-button);
   box-shadow: 2px 3px 5px 1px rgb(202, 202, 202);
}

input[type='email']:invalid {
   border: 1px solid var(--error);
   outline: 1px solid var(--error);
}

input[type='email']:valid,
input[type='text']:valid,
input[type='tel']:valid {
   border: 1px solid var(--accent);
   outline: 1px solid var(--accent);
}

/* input[type='email']:valid {
   outline: 1px solid #e5e7eb;
} */

input,
textarea,
select,
button {
   width: 250px;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   height: 30px;
}

label {
   display: block;
   font-size: 14px;
   font-weight: 400;
}

main {
   display: flex;
}

.sect1 {
   font-family: 'Norse-Bold', sans-serif;
   width: 40%;
   height: 100vh;
   background-image: url('/assets/halie-west-25xggax4bSA-unsplash.jpg');
   background-repeat: no-repeat;
   background-size: cover;
}

.logoContainer {
   display: flex;
   margin-top: 13rem;
   height: 9.5rem;
   background-color: rgba(0, 0, 0, 0.5);
   justify-content: center;
   align-items: center;
   padding: 1.1rem;
}

.logo {
   width: 15%;
   display: block;
   height: auto;
}

.textLogo {
   color: #fff;
   font-size: 5rem;
}

.sect2 {
   width: 60%;
   background-color: var(--secondary-button);
   height: 100vh;
}

.form-row {
   display: flex;
   margin-top: 20px;
   gap: 4rem;
}

.myButton {
   width: 250px;
   height: 50px;
   color: var(--secondary-button);
   font-size: 17px;
   border-radius: 11px;
   border: 1px solid var(--primary-button);
   display: inline-block;
   background-color: var(--primary-button);
   margin: 2rem 0 2rem 0;
}
.myButton:hover {
   background: var(--accent);
}
.myButton:active {
   background: var(--primary-button);
}

.text {
   width: 60%;
   font-size: 0.9rem;
   margin-top: 6rem;
   padding-bottom: 4rem;
   color: var(--primary-color);
}

.inputContainer {
   background-color: var(--secondary);
   padding-top: 1.8rem;
   padding-bottom: 2.3rem;
   -webkit-box-shadow: 2px 3px 5px 1px rgba(225, 226, 227, 1);
   box-shadow: 2px 3px 5px 1px rgba(225, 226, 227, 1);
}

.formControl p {
   font-size: 1.4rem;
   font-weight: 600;
}

.inputContainer,
.bottomInputContainer,
.text,
.footer {
   padding-left: 3rem;
}

.bottomInputContainer p {
   font-size: 1.1rem;
   color: var(--primary-color);
}

a {
   font-weight: 600;
   color: var(--primary-button);
   text-decoration: none;
}

a:hover {
   color: var(--accent);
   text-decoration: underline;
}

a:visited {
   color: var(--secondary-button);
}

.accent {
   color: var(--primary-button);
}

#message {
   font-size: 0.7rem;
   font-weight: 600;
}
